/* 共通 */
body {
    font-size: 18px;
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    color: #000;
    margin-top: 120px;
}
.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 120px;
    background-color: rgba(230, 240, 240, 0.95);
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/* ヘッダー */
.page-header {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: auto;
    margin: 20px auto;
    padding: 0 2rem;
    align-items: center;
}
.logo {
    font-size: 2rem;
    flex: 3;
}
.navi {
    display: flex;
    flex: 7;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
.navi li a , .logo {
    /* リンク貼り付け時の下線や文字色変更を防ぐ */
    text-decoration-line: none;
    color: inherit
}
.navi li a , .logo :visited {
    /* リンク訪問後の文字色変更を防ぐ */
    text-decoration-line: none;
    color: inherit;
}
/* ハンバーガーメニュー ：非スマホ時は非表示 */
#hamburger-btn-open, #hamburger-btn-close, #hamburger-menu{
    display: none;
}

/* トップページ画像 */
.top-img {
    margin: 30px;
    max-height: 600px;
    text-align: center;
}

/* メッセージ、sns */
#message {
    height: auto;
    width: 70vw;
    background-color: aliceblue;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}
.slogan {
    font-size: 2rem;
    margin-bottom: 30px;
}
.message-contents {
    line-height: 1.7;
}
.message-contents h3 {
    border-top: 1px solid rgb(200, 200, 200);
    padding: 15px 10px;
}
.message-contents h3:last-child {
    /* 最後の行＝名前のところだけは横線での仕切りを行わない */
    border-top: none;
    padding: 15px 10px;
}
.message-contents p {
    padding: 0 20px 10px 20px;
}
.message-contents ul {
    padding: 10px 25px;
    list-style-position: inside;
}
.message-contents ul li {
    padding: 0 0 0 15px;
}
.message-contents ul li ul{
    padding: 0 0 0 10px;
}
.message-contents-name {
    text-align: right;
    font-size: 2rem;
}

/* お問い合わせ */
.two-columns {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    background-color: aliceblue;
}
.column1 {
    flex: 5;
    margin: 20px;
}
.column1 p {
    margin-left: 10px;
    border-bottom: 1px solid #333;
    line-height: 2;
}
.column1 p:last-child {
    border-bottom: none;
}
.column2 {
    flex: 5;
    max-width: 400px;
    margin: 20px
}

/* レスポンシブ対応：狭めのモニタなど */
@media (max-width: 1000px) {
    .logo {
        font-size: 1.5rem;
    }
    .navi {
        font-size: 1.2rem;
        gap: 1rem;
    }
}

/* レスポンシブ対応：スマホ */
@media (max-width: 800px) {
    body {
        margin-top: 100px;
    }
    /* ヘッダー */
    .page-header {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        width: auto;
        height: 100px;
        margin: 10px;
        padding: 10px;
        }
    .logo {
        font-size: 2rem;
        }
    .navi {
        display: none;
        }
        
    /* ハンバーガーメニュー */
    #hamburger-menu {
        display: grid;
        translate: 0 -50vh;
        background: rgba(85, 85, 85, 0.95 );
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        text-align: center;
    }
    #hamburger-menu-text li{
        border-top: 1px solid #d9d9d9;
        padding: 10px;
        list-style: none;
    }
    #hamburger-menu-text li a {
        /* リンク貼り付け時の下線や文字色変更を防ぐ */
        text-decoration-line: none;
        color: #eee
    }
    #hamburger-menu-text li a:visited {
        /* リンク訪問後の文字色変更を防ぐ */
        text-decoration-line: none;
        color: #eee
    }

    #hamburger-btn-open, #hamburger-btn-close {
        display: block;
        position: relative;
        translate: 0 0;
        z-index: 9998;
        margin: 10px;
    }
    .hamburger-btn {
        height: 50px;
    }

    /* トップページ画像 */
    .top-img {
        margin: 30px;
        max-width: 800px;
        width: 100vw;
        text-align: center;
    }

    /* お問い合わせ */
    .two-columns {
        display: block;
        justify-content: center;
        width: 80vw;
        height: auto;
        margin: 20px auto;
        padding: 10px 0;
        background-color: aliceblue;
    }
    .column1 {
        flex: 5;
        margin: 20px;
    }
    .column1 p {
        margin-left: 10px;
        border-bottom: 1px solid #333;
        line-height: 2;
    }
    .column1 p:last-child {
        border-bottom: none;
    }
    .column2 {
        flex: 5;
        max-width: 400px;
        margin: 20px
    }
}