/* 共通 */
body {
    font-size: 18px;
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    color: #000;
}
h2 {
    font-size: 2rem;
    margin: 10px 15px;
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* ヘッダー */
.page-header {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: auto;
    margin: 20px auto;
    padding: 0 2rem;
    align-items: center;
}
.logo {
    font-size: 3rem;
    flex: 3;
}
.navi {
    display: flex;
    flex: 7;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
.navi li a {
    /* リンク貼り付け時の下線や文字色変更を防ぐ */
    text-decoration-line: none;
    color: inherit
}
.navi li a:visited {
    /* リンク訪問後の文字色変更を防ぐ */
    text-decoration-line: none;
    color: inherit;
}
/* ハンバーガーメニュー ：非スマホ時は非表示 */
#hamburger-btn-open, #hamburger-btn-close, #hamburger-menu{
    display: none;
}

/* トップページ画像 */
.top-img {
    margin: 30px;
    max-height: 600px;
    text-align: center;
}

/* メッセージ、sns */
.two-columns {
    display: flex;
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
    background-color: aliceblue;
}
.column1 {
    flex: 7;
    margin: 20px 30px;
}
.column1 p {
    line-height: 1.7;
}
.column1-content {
    margin-left: 30px;
}
.column1-content-name {
    text-align: right;
    font-size: 30px;
    margin: 20px;
}
.column2 {
    flex: 3;
    margin: 20px 30px;
}

/* レスポンシブ対応：スマホ */
@media (max-width: 800px) {
    /* ヘッダー */
    .page-header {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        width: auto;
        margin: 10px;
        padding: 10px;
        }
    .logo {
        font-size: 2rem;
        }
    .navi {
        display: none;
        }
    /* ハンバーガーメニュー */
    #hamburger-menu {
        display: grid;
        translate: 0 -50vh;
        background: rgba(85, 85, 85, 0.95 );
        z-index: 9999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        text-align: center;
    }
    #hamburger-menu-text li{
        border-top: 1px solid #d9d9d9;
        padding: 10px;
        list-style: none;
    }
    #hamburger-menu-text li a {
        /* リンク貼り付け時の下線や文字色変更を防ぐ */
        text-decoration-line: none;
        color: #eee
    }
    #hamburger-menu-text li a:visited {
        /* リンク訪問後の文字色変更を防ぐ */
        text-decoration-line: none;
        color: #eee
    }

    #hamburger-btn-open, #hamburger-btn-close {
        display: block;
        position: relative;
        translate: 0 0;
        z-index: 9998;
        margin: 10px;
    }
    .hamburger-btn {
        height: 50px;
    }
    /* トップページ画像 */
    .top-img {
        margin: 30px;
        max-width: 800px;
        width: 100vw;
        text-align: center;
    }
    /* メッセージ、sns */
    .two-columns {
        display: block;
        justify-content: center;
        width: 80vw;
        height: auto;
        margin: 20px auto;
        padding: 10px 0;
        background-color: aliceblue;
    }
    .column1 {
        margin: 20px;
    }
    .column1 h2 {
        text-align: left;
        margin-left: 0;
    }
    .column1 p {
        line-height: 1.7;
    }
    .column1-content {
        margin: auto;
    }

    .column2 {
        margin: 20px 30px;
    }
}
